/* Tema padrão (claro) */
:root {
  --primary-color: #3f51b5;
  --secondary-color: #f9f9fc;
  --text-color: #4a4a4a;
  --text-light: #000000;
  --border-color: #d1d5db;
  --shadow-color: rgba(0, 0, 0, 0.05);
}

/* Tema escuro */
.dark-theme {
  --primary-color: #309292;
  --secondary-color: #212b36;
  --text-color: #e0e0e0;
  --text-light: #ffffff;
  --border-color: #444b5a;
  --shadow-color: rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px var(--shadow-color);
  border-radius: 12px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1.1rem;
  color: var(--text-color);
}

h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-top: 20px;
}

section {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

.contact a {
  color: var(--primary-color);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.skills-tags span {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 8px 15px;
  margin: 5px 5px 0 0;
  border-radius: 25px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.skills-tags span:hover {
  background-color: #5c6bc0;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #303f9f;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0; 
  background: var(--primary-color); 
  color: var(--secondary-color); 
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

footer p {
  margin: 0;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: var(--text-light);
  text-decoration: underline;
}
